.venv
.git
**pycache**
*.pyc
.env
.ipynb_checkpoints
*.log

app/**pycache**/
src_v2/**/**pycache**/

src_v2/agent/
src_v2/**main**.py
src_v2/test_hybrid.py

src_v2/llm/llm_rewriter.py
src_v2/llm/llm_rewriter2.py

src_v2/retrieval/build_embeddings.py
src_v2/retrieval/vector_retriever.py

scripts/
outputs/
sql/
configs/

data/raw/
data/indexes/
data/processed/

README_v3.md
readme_v2.md
schema.md
render.yaml
dtype_sheet.ipynb
requirements_v1.txt
requirements_v2.txt
